<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="icon" href="http://ksooklal.comuv.com/Images/CherryBlossoms.JPG">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js'></script>
	<script src='app/app.js'></script>
	<style type='text/css'>
		html, body{
			padding: 5px;
			background-color: lightskyblue;
		}
		<!--.nav .active a { background:blue!important } -->
	</style>
	<title>Kristian Sooklal's GitHub Page</title>
</head>
<body ng-controller="IndexController as ic">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" id = 'header' href="#">Kristian Sooklal's GitHub Website</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href='' id = 'headerTab' ng-click="ic.focusOn($event)">Home</a></li>
					<li><a href='' id = 'contactTab' ng-click="ic.focusOn($event)">Contact</a></li>
					<li><a class="dropdown-toggle" 
						ng-click = 'ic.focusOn($event)'
						data-toggle="dropdown" href = '' id='projectsTab'>Projects
						<span class="caret"></span></a>
						
						<ul class="dropdown-menu">
							<li ng-repeat="item in ic.projects"><a href = '' id = '{{item.projectID}}Tab' ng-click='ic.focusOn($event)'>{{item.projectName}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div id = 'image' style='width:100%; text-align: center'>
		<img src = 'images/Golden Gate Bridge.jpg' height = '250px' alt="Kristian Sooklal" />
	</div>
	
	<div style = 'margin-top: 20px; margin-left: 15px; margin-bottom: 25px'>
		<h2>GitHub Projects</h2>
	</div>
	
	<form>
		<div class = 'input-group' style='margin-left: 15px; margin-bottom: 25px; width:40%; min-width: 200px'>
			<span class = 'input-group-addon'>Filter:</span>
			<input ng-model="ic.query" class="form-control" />
		</div>
	</form>

	<table style = 'max-width: 98%; margin-right: 15px; margin-left: 15px' class = "table table-striped table-hover">
		<thead>
			<tr>
				<th class = 'col-sm-1'>Project</th>
				<th class = 'col-sm-2'>Project Description</th>
				<th class = 'col-sm-2'>Technologies Used</th>
			</tr>
		</thead>
		<tr ng-repeat="item in ic.projects | filter:ic.query">
			<td id ='{{item.projectID}}'><a href = "{{item.projectLink}}" target = "_blank">{{item.projectName}}</a></td><td>{{item.projectDescription}}</td><td>{{item.projectTechnologies}}</td>
		</tr>
	</table>
	<br/>
	
	<table id = 'contact' style = 'background-color: LightBlue; max-width: 250px; margin-right: 15px; margin-left: 15px' class = "table">
		<thead><tr><th style = 'text-align: center'>Follow Me!</th></tr></thead>
		<tr><th>Profiles:</th></tr>
		<tr><td><a href = 'https://github.com/ksooklal'>GitHub</a></td></tr>
		<tr><td><a href = 'https://www.linkedin.com/in/kristiansooklal'>LinkedIn</a></td></tr>
		<tr><td><a href = 'https://ksooklal.comuv.com/'>Personal Website</a></td></tr>
		<tr><td><a href = 'https://twitter.com/kristiansooklal'>Twitter</a></td></tr>
		
		<tr><th>Coding Samples:</th></tr>
		<tr><td><a href = 'https://www.talentbuddy.co/555f8183208bc1ba7e000020/'>Talent Buddy</a></td></tr>
		<tr><td><a href = 'http://www.codecademy.com/ksooklal'>Code Academy</a></td></tr>
	</table>
</body>
</html>