<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta name = "description" content = "Welcome to Kris Sooklal's personal website, written, designed, and developed by Kris Sooklal.">
	<meta name = "keywords" content = "Kris Sooklal, Kristian Sooklal, Kris, Kristian Sooklal, Personal, Website, Personal Website, Projects, Project, Portfolio, Web Development, HTML, CSS, JavaScript, PHP, Technical, Software Engineer, Software, Engineer, Programming, Web Project, Profile, GitHub, GitHub Pages">
	<meta name = "author" content = "Kris Sooklal">
	<meta name = "ROBOTS" CONTENT = "INDEX, FOLLOW">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:url" content="http://www.kristiansooklal.me" />
	<meta property="og:title" content="Kris Sooklal's GitHub Website" />
	<meta property="og:description" content = "Personal GitHub Website" />
	
	<meta property="og:image" content="http://kristiansooklal.me/images/Golden%20Gate%20Bridge.jpg" />
	<meta property="og:image:width" content="205" />
	<meta property="og:image:height" content="250" />
	

	<link rel="icon" href="http://ksooklal.comuv.com/Images/CherryBlossoms.JPG">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js'></script>
	<script src='app/app.js'></script>
	<style type='text/css'>
		html, body{
			background-color: lightskyblue;
			height: 100%;
			min-width:200px;
		}
		
		td{
			padding: 10px;
		}

		#wrap {
			min-height: 100%;
		}

		#main {
			overflow:auto;
			padding-bottom: 55px; /* Adjustable to customize based on space needs */
		}

		#footer {
			position: relative;
			margin-top: -55px; 
			height: 55px;
			clear:both;
		} 

		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;
		}
	</style>
	<title>Kris Sooklal's GitHub Page</title>
</head>
<body ng-controller="IndexController as ic">
	<div id = 'wrap'><div id = 'main'>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header" id = 'header'>
					<a class="navbar-brand" id = 'headerBar' ng-click='ic.focusOn($event)' href="">Kris Sooklal's GitHub Website</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href='' id = 'headerTab' ng-click="ic.focusOn($event)">Home</a></li>
						<li><a class="dropdown-toggle" data-toggle="dropdown" href = '' id='projectsTab'>Projects
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="item in ic.projects"><a href = '' id = '{{item.projectID}}Tab' ng-click='ic.focusOn($event)'>{{item.projectName}}</a></li>
							</ul>
						</li>
						<li><a href='' id = 'codingTab' ng-click="ic.focusOn($event)">Coding Examples</a></li>
						<li><a href='' id = 'contactTab' ng-click="ic.focusOn($event)">Contact</a></li>
						<li><a href='Parking_Map/' id = 'parkingMap'>DC Parking Map</a></li>
						<li><a href='Resume/' id = 'resume'>Resume</a></li>
						<li><a href ='Sports_Travels/' id = 'sportsTravels'>Sports Travels</a></li>
						<li><a href ='Fitbit/' id = 'fitbit'>Fitbit Results</a></li>
						<!--<li><a href='About_Me/' id = 'aboutMe'>About Me</a></li>-->
					</ul>
				</div>
			</div>
		</nav>
		<br/>
		<div id = 'image' style='width:100%; text-align: center; '>
			<img src = 'images/Golden Gate Bridge.jpg' height = '250px' alt="Kristian Sooklal" />
		</div>
		<br/>
		<div style = 'margin-top: 25px; margin-left: 15px; margin-bottom: 25px'>
			<h2>GitHub Projects</h2>
		</div>
		
		<form>
			<div class = 'input-group' style='margin-right:15px; margin-left: 15px; margin-bottom: 15px; width:40%; min-width: 200px'>
				<span class = 'input-group-addon'>Filter:</span>
				<input ng-model="ic.query" class="form-control" />
			</div>
		</form>
	
		<table style = 'max-width: 98%; margin-right: 15px; margin-left: 15px;' class = "table table-striped table-hover">
			<thead>
				<tr>
					<th class = 'col-sm-1'>Project</th>
					<th class = 'col-sm-2'>Project Description</th>
					<th class = 'col-sm-2'>Technologies Used</th>
				</tr>
			</thead>
			<tr ng-repeat="item in ic.projects | filter:ic.query">
				<td id ='{{item.projectID}}'><a href = "{{item.projectLink}}" target = "_blank">{{item.projectName}}</a></td><td><p ng-bind-html="item.projectDescription | unsafe"></p></td><td>{{item.projectTechnologies}}</td>
			</tr>
		</table>
		<br/>
		<div id = 'coding' style = 'width:98%; margin-left:15px;'>
			<h3>Coding Examples</h3>
			<table class ='table'>
				<tr class = 'success'><td><a href = 'https://www.talentbuddy.co/555f8183208bc1ba7e000020/'>Talent Buddy</a></td></tr>
				<tr class = 'danger'><td><a href = 'http://www.codecademy.com/ksooklal'>Code Academy</a></td></tr>
			</table>
		</div>
		
		<div id = 'siteCounter' style = 'width:98%; margin-left: 15px; margin-bottom: 20px'>
			<div id="sfcc6tw2lnx8fwab96cugdh1gj99ytsq9qw"></div>
			<script type="text/javascript" src="https://counter5.wheredoyoucomefrom.ovh/private/counter.js?c=c6tw2lnx8fwab96cugdh1gj99ytsq9qw&down=async" async></script>
			<noscript>
				<a href="https://www.freecounterstat.com" title="free hit counter">
					<font size = '4'>Visits since 6/27/2015:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><img src="https://counter5.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=c6tw2lnx8fwab96cugdh1gj99ytsq9qw" border="0" title="free hit counter" alt="free hit counter">
				</a>
			</noscript>
        	</div>
	</div></div>

	<table class = 'footer' id = 'footer' class = 'table' style = 'background-color: LightBlue; width:100%;'>
		<tr id = 'contact'>
			<td><strong><div style = 'margin-left:5px;'>Contact Me:</div></strong></td>
			<td><a href="https://github.com/ksooklal"><img title="GitHub" alt="GitHub" src="images/GitHub Icon.png" height="35" /></a></td>
			<td><a href='https://www.linkedin.com/in/ksooklal/'><img title="LinkedIn" alt="LinkedIn" src="images/LinkedIn Icon.jpg" height="35" /></a></td>	
			<td><a href = 'https://www.instagram.com/k_sooklal/'><img title="IG" alt="IG: k_sooklal" src="images/Instagram Icon.png" height="35" /></a></td>
			<td><a href = "mailto:k.sooklal@yahoo.com?subject=Your%20GitHub%20Website&amp;body=Hi%2C%0A%0AI'm%20reaching%20out%20to%20you%20after%20visiting%20your%20website%20({{ic.domainName}}).%0A%0AYour%20Name%20Here%0AYour%20Email/Contact%20Info%20Here"><img title = 'Email' alt = 'Email' src = 'images/Yahoo! Icon.jpg' height = '35' /></a></td>
		</tr>
	</table>
</body>
</html>
